[Match]
# We only want to match the eth0 interface
Name=eth0

# Provide full address config in abbreviated notation
[Network]
# Default Gateway Address
Address=172.21.14.129/26

# DHCP Server Address
Address=172.21.14.130/26

# Enable link local addresses for IPv6 (FE80::)
LinkLocalAddressing=ipv6
VLAN=vlan30
